
<div class="comments-section">
    <p style="padding:12px 0px">Comments:</p>
  <div class="comment">
    <div class="comments-item">
      <div class="comments-item-left">
        <img
          style="height: 24px; width: 24px"
          src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png"
        />
        <span>Rambabu Padimi</span>
      </div>
      <div class="comments-item-right"><span>12:00 PM AUG</span></div>
    </div>
    <div class="message">You can optimize your code easily</div>
  </div>
  
  <div class="comment">
    <div class="comments-item">
      <div class="comments-item-left">
        <img
          style="height: 24px; width: 24px"
          src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png"
        />
        <span>Rambabu Padimi</span>
      </div>
      <div class="comments-item-right"><span>12:00 PM AUG</span></div>
    </div>
    <div class="message">Instead of else if conditions use switch statement.</div>
  </div>
</div>
