<div class="technology-list">
<div class="technology-item">
    <div class="left">
   
    <div class="code">C0001</div>
    </div>
    <div class="right">
    <div class="name">Angular</div>
    <div class="descriptoin">Web development</div>
    </div>
    <div class="end">
        <button mat-stroked-button color="primary">EDIT</button>
        <button mat-stroked-button color="primary">DELETE</button>

    </div>
</div>

<div class="technology-item">
    <div class="left">
    <div class="code">C0001</div>
    </div>
    <div class="right">
    <div class="name">Angular</div>
    <div class="descriptoin">Web development</div>
    </div>
    <div class="end">
        <button mat-stroked-button color="primary">EDIT</button>
        <button mat-stroked-button color="primary">DELETE</button>

    </div>
</div>
</div>