<div class="dashboard-body">
  <div class="tab-heading">
    <div class="left">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a
          mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.link"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ link.label }}
        </a>
      </nav>
    </div>

    <div class="right">
        <button mat-stroked-button color="primary" (click)="logout()" >Logout</button>
    </div>
  </div>

  <div class="tab-body">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
