<div class="questions-section">

    <div class="questions-left-section">

     
        <div class="technology">
          <div>Select Technology :</div> <br/>
          <mat-form-field appearance="outline">
            <mat-label>Technology</mat-label>
            <select matNativeControl [(ngModel)]="selectedTechnologyId">
              @for (item of technologyList; track $index) {
                <option [value]="item.id"  >{{item.name}}</option>
              }
            </select>
          </mat-form-field>
        </div>

       
        <div class="question">
        <div>Enter Question :</div> <br/>
        <div class="NgxEditor__Wrapper" style="background: white;border-radius: 6px;border: none;">
            <!-- <ngx-editor-menu [editor]="questionEditor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor  [editor]="questionEditor"  [(ngModel)]="questionContent" [placeholder]="'Type question here...'"></ngx-editor> -->

            <div #questionEditorContainer class="editor-container" aria-placeholder="Enter question here.."></div>
 
          </div>
        </div>
        <br/><br/>    
        <div class="answer">
            <div>Enter Answer :</div> <br/>
            <div class="NgxEditor__Wrapper" style="background: white;border-radius: 6px;border: none;">
                <!-- <ngx-editor-menu [editor]="answerEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor [editor]="answerEditor"  [(ngModel)]="answerContent" [placeholder]="'Type  answer here...'"></ngx-editor> -->

                <div #answerEditorContainer class="editor-container" aria-placeholder="Enter question here.."></div>
 
              </div>
            </div>
        <br/>


        <div *ngIf="isEdit">
        <button mat-stroked-button color="primary" type="button" (click)="cancelEdit()" >Cancel</button>
        <button mat-stroked-button color="primary" type="button" (click)="updateQuestion()" >Update</button>
        </div>

        <button *ngIf="!isEdit" mat-stroked-button color="primary" type="button" (click)="saveQuestion()" >Save</button>
   </div>

   

      <div class="questions-right-section">
              

        <div style="margin-bottom: 24px;">
          @for (item of technologyList; track $index) {
            <div class="chip-item" (click)="selectItem(item.id)"  [ngClass]="item.id ===this.selectItemId ? 'active' : ''">{{item.name}}</div>
          }

        </div>

        <mat-accordion>

          @for (item of questionAndAnswersList; track $index) {
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title [innerHTML]="item.title"> </mat-panel-title>
              </mat-expansion-panel-header>
              <p [innerHTML]="item.description"> </p>
              <!-- <div #answerRightSectionEditorContainer class="editor-container" aria-placeholder="Enter question here.." >{{ setData(item.description) }}</div>
   -->
              <div class="btn-section">
                <button mat-stroked-button color="primary" (click)="editQuestion(item)">EDIT</button>
                <button mat-stroked-button color="primary" (click)="deleteQuestion(item)">DELETE</button>
        
              </div>
            </mat-expansion-panel>
          }
        
          
          </mat-accordion>
            

      </div>

</div>