<div class="questions-section">

    <div class="questions-left-section">

        <div class="technology">
          <div>Select Technology :</div> <br/>
          <mat-form-field>
            <mat-label>Cars</mat-label>
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
        </div>

        <div class="question">
        <div>Enter Question :</div> <br/>
        <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="questionEditor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor  [editor]="questionEditor" [placeholder]="'Type question here...'"></ngx-editor>
          </div>
        </div>
        <br/><br/>    
        <div class="answer">
            <div>Enter Answer :</div> <br/>
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="answerEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor  [editor]="answerEditor" [placeholder]="'Type  answer here...'"></ngx-editor>
              </div>
            </div>
        <br/>

        <button mat-stroked-button color="primary" >Save</button>
    </div>

   

      <div class="questions-right-section">
              
        <mat-accordion>

          @for (item of questionAndAnswersList; track $index) {
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title [innerHTML]="item.title"> </mat-panel-title>
              </mat-expansion-panel-header>
              <p [innerHTML]="item.description"> </p>
              <div class="btn-section">
                <button mat-stroked-button color="primary">EDIT</button>
                <button mat-stroked-button color="primary">DELETE</button>
        
              </div>
            </mat-expansion-panel>
          }
         
          
          </mat-accordion>
            

      </div>

</div>