.questions-section {
    border:1px solid #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    background: #f4f4f4;
    display: flex;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    .questions-left-section {
            width: 40%;
            margin-right: 20px;
            border: 1px solid #c3c3c3;
            padding: 24px;
            border-radius: 6px;
    }
    .questions-right-section{
        width: 60%;
        border: 1px solid #c3c3c3;
        padding: 24px;
        border-radius: 6px;
    }
}

button {
    border-radius: 6px;
    background-color: #fff;
    border-color: #c3c3c3 !important;
}



:host ::ng-deep .NgxEditor__Content {
    min-height: 60px;
}

mat-expansion-panel {
    box-shadow: none !important;
    border-radius:none !important;
    border:1px solid #c3c3c3;
}
.btn-section {
    display: flex;
    justify-content: right;
    button {
        margin-right: 12px;
    }
}

